.caption {
    font-size: large;
    color: rgb(59, 129, 221);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.visitsInfo {
    /* position: relative; */
    /* top: 30 vh; */
    table-layout: fixed;
    width: 75%;
    border-collapse: collapse;
    border: 2px solid lightgray;
    caption-side: block-start;
}